.home-page {
  .layout {
    font-size: 18px;
    height: 100vh;
    width: 100%;

    &-sider {
      width: 400px;
    }

    &-collapsed {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 24px 0 24px;
    }

    &-menu {
      font-size: 18px;

      &-item {
        margin: 8px 0 0 0 !important;
      }
    }
  }
}
