@import './reset.scss';
@import './variables.scss';
@import './mixins.scss';
@import '../assets/fonts/index.scss';

body {
  font-family: 'Poppins', sans-serif;
  background-color: $geekblue-1;
  color: $gray-12;
}
